<form class="form-horizontal" style="width: 75%;">
    <div class="form-group">
        <label for="appName" class="control-label col-xs-4">Application Name</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="appName" placeholder="Application Name" ng-model="application.name">
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="control-label col-xs-4">URL</label>
        <div class="col-xs-8">
            <input type="url" class="form-control" id="url" placeholder="URL" ng-model="application.url">
        </div>
    </div>
    <div class="form-group">
        <label for="reqType" class="control-label col-xs-4">Request Type</label>
        <div class="col-xs-8">
            <select class="form-control" id="reqType" ng-model="application.requestType" ng-options="i for i in possibleTypes"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
            <button ng-click="addPathParam()" type="button" class="btn btn-primary">Add Path Param</button>
        </div>
    </div>
    <div class="form-group">
        <div ng-repeat="item in application.pathParams">
            <label class="control-label col-xs-4"></label>
            <div class="controls form-inline col-xs-8">
                <label for="inputKey">Key</label>
                <input type="text" class="input-small" placeholder="Key" ng-model="item.key" id="inputKey">
                <label for="inputValue">Value</label>
                <input type="text" class="input-small" placeholder="Value" ng-model="item.value" id="inputValue">
                <button type="button" class="btn btn-primary" ng-click="removePathParam($index)">Delete</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
            <button ng-click="addQueryParams()" type="button" class="btn btn-primary">Add Query Param</button>
        </div>
    </div>
    <div class="form-group">
        <div ng-repeat="item in application.queryParams">
            <label class="control-label col-xs-4"></label>
            <div class="controls form-inline col-xs-8">
                <label for="inputKey">Key</label>
                <input type="text" class="input-small" placeholder="Key" ng-model="item.key" id="inputKey">
                <label for="inputValue">Value</label>
                <input type="text" class="input-small" placeholder="Value" ng-model="item.value" id="inputValue">
                <button type="button" class="btn btn-primary" ng-click="removeQueryParams($index)">Delete</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
            <button ng-click="addRenameKeys()" type="button" class="btn btn-primary">Add Rename Param</button>
        </div>
    </div>
    <div class="form-group">
        <div ng-repeat="item in application.renameKeys">
            <label class="control-label col-xs-4"></label>
            <div class="controls form-inline col-xs-8">
                <label for="inputKey">Original</label>
                <input type="text" class="input-small" placeholder="Original" ng-model="item.original" id="inputKey">
                <label for="inputValue">Replacement</label>
                <input type="text" class="input-small" placeholder="Replacement" ng-model="item.replacement" id="inputValue">
                <button type="button" class="btn btn-primary" ng-click="removeRenameKeys($index)">Delete</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
            <button ng-click="addHideKeys()" type="button" class="btn btn-primary">Add Hide Param</button>
        </div>
    </div>
    <div class="form-group">
        <div ng-repeat="item in application.hideKeys">
            <label class="control-label col-xs-4"></label>
            <div class="controls form-inline col-xs-8">
                <label for="inputKey">Key</label>
                <input type="text" class="input-small" placeholder="Key" ng-model="item.key" id="inputKey">
                <button type="button" class="btn btn-primary" ng-click="removeHideKeys($index)">Delete</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="extract" class="control-label col-xs-4">Extract Key</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="extract" placeholder="Key to extract" ng-model="application.extractKey">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8">
            <button class="btn btn-primary" type="button" ng-click="reset()">RESET</button>
            <button class="btn btn-primary" type="button" ng-click="saveApplication(application)">SAVE</button>
        </div>
    </div>
</form>